body {
    padding: 0 180px;
}

.flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-ali-ite-cen {
    align-items: center;
}

.flex-jus-con-cen {
    justify-content: center;
}

.flex-jus-con-spa-bet {
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.flex-gap-8px {
    gap: 8px;
}

.flex-gap-12px {
    gap: 12px;
}

.flex-gap-16px {
    gap: 16px;
}

.flex-gap-20px {
    gap: 20px;
}

.flex-gap-24px {
    gap: 24px;
}

.flex-gap-28px {
    gap: 28px;
}

.flex-gap-32px {
    gap: 32px;
}

.flex-gap-40px {
    gap: 40px;
}

.flex-gap-80px {
    gap: 80px;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}
